<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Ketih Loughnane test App</h1>
    <%= locals.locations[0].lat %>
    <p>
    </p>
  </body>
</html>
